# mod_rewrite starts here

RewriteEngine on

# does not apply to exsisting directories

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html exstention

RewriteCond %{REQUEST_FILENAME}\.html -f 

# here we actually show the page that has the .html exstention

RewriteRule ^(.*)$ $1.html [NC,L]